@import url('https://fonts.googleapis.com/css2?Playwrite+TZ:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900');

@import "tailwindcss";


.logo{
  font-family: "Unbounded" , sans-serif;
}
.slogan{
  font-family: "Playwrite TZ", cursive;
}
*{ 
     font-family: "Raleway", sans-serif;
}

  .container {
    @apply mx-auto px-4 sm:px-8 lg:px-16 xl:px-20 2xl:px-24;
  }

  /* Gradient animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Utility class */
.animate-gradient {
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
} 



.scrollbar-style::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-style::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2563eb, #60a5fa);
  border-radius: 999px;
}

.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1d4ed8, #3b82f6);
}

.scrollbar-style {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}


.dropdown-item {
  @apply block px-3 py-2 rounded-md hover:bg-gray-100 transition;
}
